    body {
        margin: 0;
        padding: 0;
    }

    .bg-grey {
        background-color: rgb(193, 193, 193);
    }

    .bg-blue-grad {
        background-image: linear-gradient(#9FCCFA, #0974F1);

    }

    .color-blue-grad {
        background-image: linear-gradient(#0974F1, #13202e);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    }

    .bg-white-light {
        background-color: rgba(255, 255, 255, 0.323);
        box-shadow: 10px 10px 4px #1f6a845d;
    }
    
    @media screen and (max-width:575px) {
       .fs-5px{
        font-size: 10px;
    } 
    }

    
